/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 60%;
    margin-top: 20;
    margin-bottom: -10;
    margin-left: 250;
    padding: 30;
    height: auto;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #06ac6f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: auto;
    font-size: 15;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    display: block;
    margin: 8px;
    margin-bottom: 20;
  }
  
  .center {
    text-align: center;
    align-items: center;
  }

  .box_header {
    margin-left: 160;
    padding: 10 0;
  }

  .dropdown {
    margin-left: 165;
    margin-bottom: 15;
  }