@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D3D3D3;
    overflow-x: hidden;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 20px 10px 20px 15px;
    font-size: 60px;
    display: block;
    color: rgb(57, 57, 217);
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    background-color: #5A5A5A;
    color: black;
  }


  .search {
    background-color: #EEE;
    width: 300px;
    height: 60px;
    top: 0;
    left: 100;
    position: fixed;
  }

  .search a {
    margin-left: 230;
    top: 13;
    font-size: 40px;
    position: fixed;
    color: rgb(82, 82, 82);
  }

  .search input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 15px;
    left: 110;
    font-size: 17px;
    position: fixed;
  }

  .search_group {
    background-color: #EEE;
    width: 300px;
    height: 60px;
    top: 0;
    left: 100;
    position: fixed;
    z-index: 1;
  }

  .search_group a {
    margin-left: 240;
    top: 30;
    font-size: 40px;
    position: fixed;
    color: rgb(82, 82, 82);
  }

  .search_group input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 15px;
    left: 110;
    font-size: 17px;
    position: fixed;
  }

  #friend-list { 
    display: block;
    margin-left: 92;
    margin-top: 50;
    padding: 0;
    width: 300px;
    height: 95%;
    background: #EEE;
    overflow: auto;
    position: fixed;
  }
  
  .friend {
    width: 300px;
    height: 60px;
    background: #EEE;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .friend img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid #AAA;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .friend .name {
    font-size: 18px;
  }
  
  .friend.selected {
    background: #43A047;
    color: white;
  }
  
  .friend.selected img {
    border-color: white;
  }
  
  .friend:not(.selected):hover {
    background: #DDD;
  }

  /* Style the main content */
  .main {
    top: 0;
    left: 400;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    font-size: 20;
  }
  
  .main img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid #AAA;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10;
    margin-bottom: -10;
    z-index: 1;
  }