<html>

<head>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<!-- Main container  -->
    <div class="container">
<!--  Message header section starts    -->
        <div class="msg-header">
            <div class="container1">
                <div class="active ">
                    <p>${recipient}</p>
                </div>
            </div>
         </div> 
<!-- Message header section ends -->

<!-- Chat inbox section starts -->
         
    <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats">
                     <div class="msg-page">
<!-- Contains the incoming and outgoing messages -->

                        ${msgs}

                      </div> 
                </div>
            </div>
    </div>
                
<!--  Message bottom section starts -->
               <div class="msg-bottom">
                <div class="input-group">
                    <form action="/send_msg?user=${user}&recipient=${recipient}" method="post" id="FORM">
                    <input name="msg" type="text" class="form-control" placeholder="Write message..." id="InputField">
                    <div class="input-group-append ">
                        <input value="send" type="submit" class="input-group-text">
                    </div>
                    </form>
                    <!-- <script>
                        function encryptInput() {
                            var input = document.getElementById("InputField").value;
                            
                            input += 'a' //encryption function

                            // Set the input value to the form's input field
                            document.getElementById("FORM").elements["msg"].value = input;
                            
                            // Submit the form
                            document.getElementById("FORM").submit();
                        }
                    </script> -->
                </div>
                </div> 
                
<!-- Message bottom section ends. -->
            </div>
        </div>
    </div>

</body>

</html>


