<head>
    <link rel="stylesheet" type="text/css" href="css/temp.css">
    <script src="js/script_head.js"></script>
    
    <title>Simple Student Templating Solutions</title>
    </head>
    
    <p>
    <ul>
      <li><a href="/home?user=${user}">Home</a></li>
      <li><a href="/logout?user=${user}">Logout</a></li>
      <li><a href="/about?user=${user}">About</a></li>
      <li><a href="/friends?user=${user}">Friends List</a></li>
      <li><a href="/add_friends?user=${user}">Add friends</a></li>
    </ul>
    </p>
    <center><h2>Simple Student Templating Solutions</h2>
    
    
    <h3><i>Because the usability is more important than the back end for now.</i></h3>
    