<head>
<script src="https://kit.fontawesome.com/712702fa6e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/sidebar.css">
</head>

<style>
  .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: 150;
  margin-top: 150;
  margin-bottom: -50;
  width: auto;
  cursor: pointer;
}

.btn {
  /* border: 2px solid gray; */
  color: black;
  background-color:aquamarine;
  padding: 8px 20px;
  font-size: 40px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 50;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: auto;
}
</style>


<script>
  function dynamic_search() {

  var input, filter, ul, li, la, i, txtValue;
  input = document.getElementById("Input");
  filter = input.value.toUpperCase();
  ul = document.getElementById("friend-list");
  li = ul.getElementsByTagName("li");


  for (i = 0; i < li.length; i++) { 
    la = li[i].getElementsByTagName("div")[0]; // content in label
    txtValue = la.textContent || la.innerText; 
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

<!-- The sidebar -->
<div class="sidebar">

  <a href="/sidebar_setting?uid=${uid}&username=${username}"><img src="/img/user_icon/${uid}.png" class="image" style="width:60px;height:60px;">
    <a href="/default_sidebar?uid=${uid}&username=${username}"><i class="far fa-comment"></i></a>
    <a href="/sidebar_contact?uid=${uid}&username=${username}"><i class="far fa-address-book"></i></a>
    <a href="/sidebar_forum?uid=${uid}&username=${username}"><i class="fa-regular fa-comments"></i></a>
    <a href="/sidebar_setting?uid=${uid}&username=${username}"><i class="fas fa-cog"></i></a>
    <a href="/login?uid=${uid}&username=${username}"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
</div>


<img src="img/user_icon/${uid}.png" style="width: 250; height: 250; margin: 30; margin-left: 150; border: 2 solid lightgrey; display: inline;"/>
<h1 style="font-size: 60; text-align: center; margin-top: -200;">${username}</h1>

<form action="/uploadimg?uid=${uid}&username=${username}" method="post" enctype="multipart/form-data">
  <div class="upload-btn-wrapper">
    <button class="btn">Upload a image</button>
    <input type="file" name="uploadimage" accept="image/png" onchange="this.form.submit()"/>
  </div>
  
</form>

<a href="/update_name_page?uid=${uid}&username=${username}" style="text-decoration: none;"><button style="width: auto; height: 60; margin-top: 130; margin-left: 150; font-size: 40; display: block; background-color: aquamarine;">Update your name</button></a>