<head>
<script src="https://kit.fontawesome.com/712702fa6e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/sidebar.css">
</head>

<script>
  function dynamic_search() {

  var input, filter, ul, li, la, i, txtValue;
  input = document.getElementById("Input");
  filter = input.value.toUpperCase();
  ul = document.getElementById("friend-list");
  li = ul.getElementsByTagName("li");


  for (i = 0; i < li.length; i++) { 
    la = li[i].getElementsByTagName("div")[0]; // content in label
    txtValue = la.textContent || la.innerText; 
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

<!-- The sidebar -->
<div class="sidebar">

  <a href="/sidebar_setting?uid=${uid}&username=${username}"><img src="/img/user_icon/${uid}.png" class="image" style="width:60px;height:60px;">
    <a href="/default_sidebar?uid=${uid}&username=${username}"><i class="far fa-comment"></i></a>
    <a href="/sidebar_contact?uid=${uid}&username=${username}"><i class="far fa-address-book"></i></a>
    <a href="/sidebar_forum?uid=${uid}&username=${username}"><i class="fa-regular fa-comments"></i></a>
    <a href="/sidebar_setting?uid=${uid}&username=${username}"><i class="fas fa-cog"></i></a>
    <a href="/login?uid=${uid}&username=${username}"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
</div>


<img src="img/user_icon/${uid}.png" style="width: 250; height: 250; margin: 30; margin-left: 150; border: 2 solid lightgrey; display: inline;"/>
<h1 style="font-size: 60; text-align: center; margin-top: -200;">${username}</h1>
<form action="/update_name?uid=${uid}&username=${username}" method="post">
  <input name="newname" type="text" placeholder="Enter your new name" style="margin-top: 150; margin-left: 150; font-size: 40;" required>
  <button type="submit" name="submit" style="font-size: 40; margin: 0 20; background-color: rgb(57, 57, 227); color: white; cursor: pointer;">Submit</button>
</form>