<head>
<script src="https://kit.fontawesome.com/712702fa6e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/sidebar.css">
</head>

<!-- The sidebar -->
<div class="sidebar">

  <a href="/sidebar_setting?uid=${uid}&username=${username}&username=${username}"><img src="/img/user_icon/${uid}.png" class="image" style="width:60px;height:60px;">
    <a href="/default_sidebar?uid=${uid}&username=${username}&username=${username}"><i class="far fa-comment"></i></a>
    <a href="/sidebar_contact?uid=${uid}&username=${username}&username=${username}"><i class="far fa-address-book"></i></a>
    <a href="/sidebar_forum?uid=${uid}&username=${username}&username=${username}"><i class="fas fa-comments"></i></a>
    <a href="/sidebar_setting?uid=${uid}&username=${username}&username=${username}"><i class="fas fa-cog"></i></a>
    <a href="/login?uid=${uid}&username=${username}&username=${username}"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
</div>

<div class="main">
  
</div>