<head>
<script src="https://kit.fontawesome.com/712702fa6e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./../static/css/sidebar.css">
</head>

<script>
  function dynamic_search() {

  var input, filter, ul, li, la, i, txtValue;
  input = document.getElementById("Input");
  filter = input.value.toUpperCase();
  ul = document.getElementById("friend-list");
  li = ul.getElementsByTagName("li");


  for (i = 0; i < li.length; i++) { 
    la = li[i].getElementsByTagName("div")[0]; // content in label
    txtValue = la.textContent || la.innerText; 
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

<!-- The sidebar -->
<div class="sidebar">

  <a href="#setting"><img src="./../user_icon/test_icon.png" class="image" style="width:60px;height:60px;">
  <a href="#chat"><i class="far fa-comment"></i></a>
  <a href="#contact"><i class="far fa-address-book"></i></a>
  <a href="#forum"><i class="fa-regular fa-comments"></i></a>
  <a href="#setting"><i class="fas fa-cog"></i></a>
  <a href="#logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
</div>


<img src="./../user_icon/test_icon.png" style="width: 250; height: 250; margin: 30; margin-left: 150; border: 2 solid lightgrey; display: inline;"/>
<h1 style="font-size: 60; text-align: center; margin-top: -200;">user1</h1>
<button style="width: auto; height: 60; margin-top: 150; margin-left: 150; margin-bottom: -80; font-size: 40; display: block; background-color: aquamarine;">Upload new icon</button>
<button style="width: auto; height: 60; margin-top: 130; margin-left: 150; margin-bottom: -80; font-size: 40; display: block; background-color: aquamarine;">Remove current icon</button>
<button style="width: auto; height: 60; margin-top: 130; margin-left: 150; font-size: 40; display: block; background-color: aquamarine;">Update your name</button>