<head>
<script src="https://kit.fontawesome.com/712702fa6e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/sidebar.css">
<link rel="stylesheet" href="css/checkbox.css">
</head>

<script>
function dynamic_search() {

  var input, filter, ul, li, la, i, txtValue;
  input = document.getElementById("Input");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName("li");


  for (i = 0; i < li.length; i++) { 
    la = li[i].getElementsByTagName("label")[0]; // content in label
    txtValue = la.textContent || la.innerText; 
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

function checkBox() {
  var count = 0;
  var inputElems = document.getElementsByTagName("input");

  for (var i=1; i<inputElems.length-1; i++){
    if (inputElems[i].type === "checkbox" && inputElems[i].checked === true){
      count++;
    }
    // Get the checkbox
    var checkBox = document.getElementById(`myCheck${i-1}`);
    output = document.getElementById(`myCheck${i-1}_output`);
    if (checkBox.checked == true){
      output.style.display = "block";
    } 
    else {
      output.style.display = "none";
    }
  }

  document.getElementById("choosen").innerHTML = `${count} selected`;
}
</script>

<!-- The sidebar -->
<div class="sidebar">

  <a href="/sidebar_setting?uid=${uid}&username=${username}"><img src="/img/user_icon/${uid}.png" class="image" style="width:60px;height:60px;">
    <a href="/default_sidebar?uid=${uid}&username=${username}"><i class="fas fa-comment"></i></a>
    <a href="/sidebar_contact?uid=${uid}&username=${username}"><i class="far fa-address-book"></i></a>
    <a href="/sidebar_forum?uid=${uid}&username=${username}"><i class="fa-regular fa-comments"></i></a>
    <a href="/sidebar_setting?uid=${uid}&username=${username}"><i class="fas fa-cog"></i></a>
    <a href="/login?uid=${uid}&username=${username}"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
</div>

<div class="search_group">
  <a href="/default_sidebar?uid=${uid}&username=${username}"><i class="fa-regular fa-rectangle-xmark fa-2xs"></i></a>
  <input type="text" placeholder="Search..." id="Input" onkeyup="dynamic_search()">
</div>

<!-- <img src='./../user_icon/icon1.png' /> -->
<!-- different name when implementing -->

<form action="/add_group?uid=${uid}&username=${username}&num=${num}", method="post">
  <ul id="myUL">

  ${friend_checkbox}
  <input type="text" name="groupname" placeholder="Enter your group name" style="font-size: 30; top: 30; left: 750; position:absolute; z-index: 1;" required>
  </ul>
  <button type="submit" style="background-color: aquamarine;top: 650;left: 1200;font-size: 30; position: absolute; z-index: 1;">Create</button>
</form>

<button style="background-color: rgb(226, 62, 62);top: 650; left: 1050;font-size: 30; position: absolute; z-index: 1;" onclick="window.location.href='/default_sidebar?uid=${uid}&username=${username}'">Cancel</button>

<div class="main">
  <h1>Create group chat</h1>
  <h3 id="choosen">0 selected</h3>

  ${selected_friend}

</div>