<head>
<script src="https://kit.fontawesome.com/712702fa6e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./../static/css/sidebar.css">
<link rel="stylesheet" href="./../static/css/checkbox.css">
</head>

<script>
function dynamic_search() {

  var input, filter, ul, li, la, i, txtValue;
  input = document.getElementById("Input");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName("li");


  for (i = 0; i < li.length; i++) { 
    la = li[i].getElementsByTagName("label")[0]; // content in label
    txtValue = la.textContent || la.innerText; 
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

function checkBox() {
  var count = 0;
  var inputElems = document.getElementsByTagName("input");

  for (var i=1; i<inputElems.length; i++){
    if (inputElems[i].type === "checkbox" && inputElems[i].checked === true){
      count++;
    }
    // Get the checkbox
    var checkBox = document.getElementById(`myCheck${i}`);
    output = document.getElementById(`myCheck${i}_output`);
    if (checkBox.checked == true){
      output.style.display = "block";
    } 
    else {
      output.style.display = "none";
    }
  }

  document.getElementById("selected").innerHTML = `${count} selected`;
}
</script>

<!-- The sidebar -->
<div class="sidebar">

  <a href="#setting"><img src="./../user_icon/test_icon.png" class="image" style="width:60px;height:60px;">
  <a href="#chat"><i class="far fa-comment"></i></a>
  <a href="#contact"><i class="far fa-address-book"></i></a>
  <a href="#forum"><i class="fa-regular fa-comments"></i></a>
  <a href="#setting"><i class="fas fa-cog"></i></a>
  <a href="#logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
</div>

<div class="search_group">
  <a href="/contact"><i class="fa-regular fa-rectangle-xmark fa-2xs"></i></a>
  <input type="text" placeholder="Search..." id="Input" onkeyup="dynamic_search()">
</div>

<!-- <img src='./../user_icon/icon1.png' /> -->
<!-- different name when implementing -->

<form action="/contact", method="post">
  <ul id="myUL">
  <li><label class="container">
    <div class="font">One</div>
    <img src='./../user_icon/icon1.png' />
    <input type="checkbox" name="checkbox" value="one" id="myCheck1" onclick="checkBox()"> 
    <span class="checkmark"></span>
    </label></li>
  
  <li><label class="container">
    <div class="font">Two</div>
    <img src='./../user_icon/icon2.png' />
    <input type="checkbox" name="checkbox" value="two" id="myCheck2" onclick="checkBox()">
    <span class="checkmark"></span>
  </label></li>

  <li><label class="container">
    <div class="font">Three</div>
    <img src='./../user_icon/icon3.png' />
    <input type="checkbox" name="checkbox" value="three" id="myCheck3" onclick="checkBox()">
    <span class="checkmark"></span>
  </label></li>

  <li><label class="container">
    <div class="font">Four</div>
    <img src='./../user_icon/icon1.png' />
    <input type="checkbox" name="checkbox" value="four" id="myCheck4" onclick="checkBox()">
    <span class="checkmark"></span>
  </label></li>
  </ul>
  <button type="submit" style="background-color: aquamarine;top: 650;left: 1200;font-size: 30; position: absolute; z-index: 1;">Create</button>
</form>

<button style="background-color: rgb(226, 62, 62);top: 650; left: 1050;font-size: 30; position: absolute; z-index: 1;" onclick="window.location.href='/contact'">Cancel</button>

<div class="main">
  <h1>Create group chat</h1>
  <h3 id = "selected">0 selected</h3>

  <span id= "myCheck1_output" style= "display:none"><img src='./../user_icon/icon1.png'/>one</span>
  <span id= "myCheck2_output" style= "display:none"><img src='./../user_icon/icon2.png'/>two</span>
  <span id= "myCheck3_output" style= "display:none"><img src='./../user_icon/icon3.png'/>three</span>
  <span id= "myCheck4_output" style= "display:none"><img src='./../user_icon/icon1.png'/>four</span>

</div>